@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi-Light';
    src: url('/fonts/Satoshi-Light.woff2') format('woff2'), url('/fonts/Satoshi-Light.woff') format('woff'), url('/fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

body { font-family: 'Satoshi-Light', fallbackFont, sans-serif; }